apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "username": "y0ur-t0k3n",
      "password": "y0ur-p4ssw0rd",
      "endpoint": "https://pc.example.com",
      "port": 9440,
      "insecure": true
    }
